@tailwind base;
@tailwind components;
@tailwind utilities;

/* scrollbar */
html {
  scrollbar-color: #408697 transparent;
  scrollbar-width: thin;
  scroll-behavior: smooth;
}

html::-webkit-scrollbar {
  width: 8px;
}

html::-webkit-scrollbar-thumb {
  background: #408697;
}

html::-webkit-scrollbar-thumb:hover {
  background: #276d7e;
}

html::-webkit-scrollbar-track {
  background: transparent;
}

/* input without arrows */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}
